<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>EventosApp</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
      <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>

	<header>
		<nav class="menu">
		    <div>
	            <a class="title" href="/logout">Lista de Eventos</a>
		        <a class="cadastro" href="/eventos">Lista de eventos</a>
		    </div>
		</nav>	
	</header>
	
	<div th:each="evento : ${evento}" class="formEvento">
	<h5>Detalhes do Evento</h5>
		<div class="row">
			<p>Nome: <span th:text="${evento.nome}"></span></p>
			<p>Local: <span th:text="${evento.local}"></span></p>
			<p>Data: <span th:text="${evento.data}"></span></p>
			<p>Horario: <span th:text="${evento.horario}"></span></p>
		</div>
	</div>
	
	<div class="formEventoGuest">
		<form method="post" th:object="${convidado}">
			<p><label class="formEventoField">Nome:</label><br/><input type="text" value="" name="nomeConvidado" placeholder="Nome Completo"/></p>
			<p><label class="formEventoField">Rg:</label><br/><input type="text" value="" name="rg" placeholder="AA-00.000.000"/></p>
			
			<p><button type="submit">Adicionar</button></p>
		</form>
	</div>

	<section class="sectionTableGuest">
		<table class="tableEventList">
			<thead>
				<tr>
					<th>Nome Convidado</th>
					<th>RG</th>
					<th>Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="convidado : ${convidados}">
					<td><span th:text="${convidado.nomeConvidado}"></span></td>
					<td><span th:text="${convidado.rg}"></span></td>
					<td><a th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.rg)).build()}"><i class="material-icons left">delete</i></a></td>
				</tr>
			</tbody>
		</table>
	</section>
	
	<footer class="rodape">
		<p>@Copyright 2020-2020 Sistema web spring boot com autenticação via spring security</p>
	</footer>	

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</body>

</html>